.page-body {
  background-color:  white;
  min-height: 100vh; 
  align-items: center;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Righteous;
  font-size: 30px;
  color: rgb(15, 15, 15);
}

